$backColor: #181818;
$mainColor: #202020;
$inputColor: #323232;
$navColor: #0D0D0D;
$shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);

$inputBorder:#107EFF;

$spanText:#828282;
$mainColorText: #fff;
$subColorText: rgba(255, 255, 255, 0.2);


$btnColorOne: #3137C9;
$btnColorOneHover: #2128dd;

$btnColorTwo: #ED3024;
$btnColorTwoHover: #fa2111;

$darkblue: #0D1C2E;
$lighBlue: rgba(42,139,242,1)